<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<!-- Title -->
	<title>Substance - Professional Bootstrap Template</title>
	<!-- Meta -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<!-- Favicon -->
	<link href="/favicon.html" rel="shortcut icon">
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css" rel="stylesheet">
	<!-- Template CSS -->
	<link rel="stylesheet" href="/css/animate.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/nexus.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/custom.css" rel="stylesheet">
	<!-- Google Fonts-->
	<link href="http://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="pre_header" class="visible-lg"></div>
	<div id="header" class="container">
		<div class="row">
			<!-- Logo -->
			<div class="logo">
				<br href="index.ejs" title="">
					<img class="logo-img" src="/img/logo2.jpg" alt="Logo" /></br>
					<p class="logo-title">Stereo Heart</p>
				</a>
			</div>
			<!-- End Logo -->
			<!-- Top Menu -->
			<div class="col-md-12 margin-top-30">
				<div id="hornav" class="pull-right visible-lg">
					<ul class="nav navbar-nav">
						<li><a href="/index">Home</a></li>
						<li><a href="/search">Search</a></li>
						<li><a href="/blog-list">Blog</a></li>
						<li>
							<% if (user) { %> 
								<span>Hello <strong><%= user.username %></strong> <span class="triangle-down"></span></span>  <!-- Hiển thị tên người dùng nếu đã đăng nhập -->
								<ul>
									<li><a href="/login">Log Out</a></li>  <!-- Link đăng xuất -->
								</ul>
							<% } else { %> 
								<span>Manage Account</span>  <!-- Giữ nguyên nếu chưa đăng nhập -->
								<ul>
									<li><a href="/login">Log In</a></li>
								</ul>
							<% } %>
						</li>
					</ul>				</div>
				</div>
				<div class="clear"></div>
				<!-- End Top Menu -->
			</div>
		</div>
		<!-- === END HEADER === -->
		<!-- === CONTENT === -->
		<div id="content" class="container contact-container">
			<!-- === BEGIN CONTENT === -->	<div class="row margin-vert-30">
			<!-- Main Column -->
			<div class="col-md-12">
				<!-- Main Content -->
				<div class="headline"><h2><strong>Write your Blog</strong></h2></div>
				<p>Write whatever you like, never limit your imagination.</p><br>
				<!-- Contact Form -->
				<form id="blog-form" action="<%= blog ? '/edit-blog' : '/add-blog' %>" method="POST">
					<!-- Hidden field để lưu ID của blog (chỉ khi edit) -->
					<% if (blog) { %>
						<input type="hidden" name="id" value="<%= blog.id %>">
					<% } %>
				
					<label>Title <span class="color-red">*</span></label>
					<div class="row margin-bottom-20">
						<div class="col-md-8 col-md-offset-0">
							<input 
								class="form-control" 
								type="text" 
								name="title" 
								maxlength="40" 
								required 
								value="<%= blog ? blog.title : '' %>"
							>
						</div>
					</div>
				
					<label>Description <span class="color-red">*</span></label>
					<div class="row margin-bottom-20">
						<div class="col-md-10 col-md-offset-0">
							<textarea 
								rows="4" 
								class="form-control" 
								name="description" 
								required
							><%= blog ? blog.description : '' %></textarea>
						</div>
					</div>
				
					<label>Content <span class="color-red">*</span></label>
					<div class="row margin-bottom-20">
						<div class="col-md-12 col-md-offset-0">
							<textarea 
								rows="8" 
								class="form-control" 
								name="content" 
								required
							><%= blog ? blog.content : '' %></textarea>
						</div>
					</div>
					
					<div class="row margin-bottom-20 align-items-center">
						<!-- Select image from your computer -->
						<div class="col-md-2" style="width: fit-content;">
						  	<button type="button" class="add-img btn btn-primary" onclick="document.getElementById('upload-img').click();">
								<strong>+</strong> Add image
						  	</button>
						  	<input type="file" id="upload-img" name="image" accept="image/*">
						</div>
					  
						<!-- Preview image -->
						<!-- <div class="col-md-3" style="width: fit-content;">
							<img id="preview-img" src="#" alt="Preview">
						</div> -->
						<div class="col-md-3" id="preview-container">
							<img id="preview-img" src="#" alt="Preview">
							<button type="button" id="remove-preview">×</button>
						</div>
						  
					  
						<div class="col-md-8">
							<input class="descrip-img form-control" type="text" name="imageDescription" placeholder="Add description for the photo you just posted">
						</div>
					</div>				  

					<div class="row margin-bottom-20">
						<div class="col-md-12 submit-row">
							<p><button type="submit" class="btn btn-primary">Confirm</button></p>
						</div>
					</div>				
				</form>
				<!-- End Contact Form -->
				<!-- End Main Content -->
			</div>
			<!-- End Main Column -->
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- === BEGIN FOOTER === -->
	<div id="base">
		<div class="container padding-vert-30">
			<div class="row">
				<!-- Thumbs Gallery -->
				<div class="col-md-3 margin-bottom-20">
					<h3 class="margin-bottom-10">Portfolio Highlights</h3>
					<div class="thumbs-gallery">
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image1.jpg">
							<img src="/img/thumbsgallery/thumbs/image1.jpg" alt="image1.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image2.jpg">
							<img src="/img/thumbsgallery/thumbs/image2.jpg" alt="image2.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image3.jpg">
							<img src="/img/thumbsgallery/thumbs/image3.jpg" alt="image3.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image4.jpg">
							<img src="/img/thumbsgallery/thumbs/image4.jpg" alt="image4.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image6.jpg">
							<img src="/img/thumbsgallery/thumbs/image6.jpg" alt="image6.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image7.jpg">
							<img src="/img/thumbsgallery/thumbs/image7.jpg" alt="image7.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image8.jpg">
							<img src="/img/thumbsgallery/thumbs/image8.jpg" alt="image8.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image9.jpg">
							<img src="/img/thumbsgallery/thumbs/image9.jpg" alt="image9.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image92.jpg">
							<img src="/img/thumbsgallery/thumbs/image92.jpg" alt="image92.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image94.jpg">
							<img src="/img/thumbsgallery/thumbs/image94.jpg" alt="image94.jpg">
						<i></i></a>
						
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image95.jpg">
							<img src="/img/thumbsgallery/thumbs/image95.jpg" alt="image95.jpg">
						<i></i></a>
						
						<a class="thumbBox" rel="lightbox-thumbs" href="/img/thumbsgallery/image96.jpg">
							<img src="/img/thumbsgallery/thumbs/image96.jpg" alt="image96.jpg">
						<i></i></a>
						
						</div>			<div class="clearfix"></div>
					</div>
					<!-- End Thumbs Gallery -->
					<!-- Contact Details -->
					<div class="col-md-3 margin-bottom-20">
						<h3 class="margin-bottom-10">Contact Details</h3>
						<p>University of Science,<br />
							Ho Chi Minh,<br />
							VietNam</p>
						<p>Email: <a href="mailto:info@website.com">info@website.com</a><br />
						Website: <a href="http://www.website.com/">www.website.com</a></p>
					</div>
					<!-- End Contact Details -->
					<!-- Sample Menu -->
					<div class="col-md-3 margin-bottom-20" >
						<h3 class="margin-bottom-10">Web development team members</h3>
						<ul class="menu">	
							<li>
								<p style="margin-bottom: 0;">DO HANH THAO - 22120338</p>
							</li>
							<li>
								<p>NGUYEN MINH THIEN - 22120341</p>
							</li>
						</ul>
						<div class="clearfix"></div>
						
					</div>
					<!-- End Sample Menu -->
					<!-- Disclaimer -->
					<div class="col-md-3 margin-bottom-20">
						<h3 class="margin-bottom-10">Disclaimer</h3>
						<p>The articles in this blog are only to share personal experiences about the types of TWS on the market, 
							we do not accept advertising for the products in the article.</p>
						<p>We use web template and images from the internet.</p>
						<div class="clearfix"></div>
					</div>
					<!-- End Disclaimer -->
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- Footer Menu -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div id="copyright" class="col-md-4">
						<p>(c) 2025 Copyright Info</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Menu -->
</div>
<!-- JS -->
<script type="text/javascript" src="/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<!-- Isotope - Portfolio Sorting -->
<script type="text/javascript" src="/js/jquery.isotope.js" type="text/javascript"></script>
<!-- Mobile Menu - Slicknav -->
<script type="text/javascript" src="/js/jquery.slicknav.js" type="text/javascript"></script>
<!-- Animate on Scroll-->
<script type="text/javascript" src="/js/jquery.visible.js" charset="utf-8"></script>
<!-- Slimbox2-->
<script type="text/javascript" src="/js/slimbox2.js" charset="utf-8"></script>
<!-- Modernizr -->
<script src="/js/modernizr.custom.js" type="text/javascript"></script>
<!-- Add image -->
<script>
	window.addEventListener('DOMContentLoaded', function () {
		const uploadInput = document.getElementById('upload-img');
		const preview = document.getElementById('preview-img');
		const previewContainer = document.getElementById('preview-container');
		const removeBtn = document.getElementById('remove-preview');
	
	  	uploadInput.addEventListener('change', function(event) {
			const file = event.target.files[0];
	
			if (file) {
			const reader = new FileReader();
			reader.onload = function(e) {
				preview.src = e.target.result;
				previewContainer.style.display = 'block';
				removeBtn.style.display = 'block'; // Hiện nút X
			}
			reader.readAsDataURL(file);
			}
		});
	
		removeBtn.addEventListener('click', function () {
			// Reset preview
			preview.src = '#';
			previewContainer.style.display = 'none';
			removeBtn.style.display = 'none';
			uploadInput.value = ''; // reset input
		});
	});


	document.getElementById('blog-form').addEventListener('submit', async function (e) {
		e.preventDefault();

		const formData = new FormData(this);
		/*
		const image = document.getElementById('upload-img').files[0];

		// Nếu có hình ảnh, thêm hình ảnh vào formData
		if (image && image.size > 0) {
			formData.append('image', image);
		}
		*/
		formData.forEach((value, key) => {
			console.log(`${key}:`, value);
		});
		// Lấy URL hành động từ thuộc tính `action` của form
		const actionUrl = this.getAttribute('action');

		try {
			const response = await fetch(actionUrl, {
				method: 'POST',
				body: formData,
				credentials: 'include',
			});

			const data = await response.json();
			if (data.message) {
				alert(data.message || (actionUrl.includes('/add-blog') ? 'Thêm blog thành công!' : 'Chỉnh sửa blog thành công!'));
				window.location.href = '/blog-list'; // Chuyển hướng tới danh sách blog
			} else {
				alert('Có lỗi xảy ra.');
			}
		} catch (err) {
			alert('Lỗi khi gửi dữ liệu.');
			console.error(err);
		}
	});

</script>  
<!-- End JS -->
</body>
</html>
<!-- === END FOOTER === -->